@charset "UTF-8";
/* CSS RESET*/
html, body, span, applet, address, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*STYLE GUIDE STAY CONSISTENT AND NEVER GIVE UP!*/
:root {
  /*NEUTRALS*/
  --background_light: #f4e9da;
  --header_light: #f4e4d1;
  --footer_light: rgb(50, 48, 50);
  --typeface:rgb(39, 38, 39);
  --white_black: #fafafa;
  --article_background: #f6e7d5;
  /*BRAND COLORS*/
  --primary:rgba(91, 40, 149, 1);
  --secondary:rgba(182, 143, 212, 1);
  /*STATUS COLORS*/
  --inform: #7b7bec;
  --warn: #ea7676;
  /*FONTS*/
  --title-font:"Lora";
  --title-size: 58px;
  --subtitle:"Inter";
  --subtitle-size: 35px;
  --code:"DM Mono", monospace;
  /*SPACING*/
  --content-gap:12px;
  --header-height:100px;
}

/*DARK MODE*/
.darkMode {
  --header_light: #272726;
  --background_light: #373634;
  --footer_light: rgb(41, 39, 41);
  --typeface: #e9e9e6;
  --article_background: rgba(80, 78, 78, 0.77);
  --white_black: #272726;
}

/*GENERAL STYLES*/
html {
  background-color: var(--background_light);
  scroll-behavior: smooth;
  font-family: var(--subtitle);
}

main {
  max-width: 1500px;
  margin: 0 auto;
  flex: 1;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*HEADERS*/
h1, h2, h3 {
  text-align: center;
  font-family: var(--title-font);
  font-size: var(--title-size);
  color: var(--typeface);
  margin-top: 30px;
  margin-bottom: 10px;
}

h3 {
  font-size: var(--subtitle-size);
}

h4, h5, h6, p, a {
  color: var(--typeface);
}

/*LINKS*/
.crosslink {
  transition: 0.2s ease;
  font-size: 18px;
}

.crosslink:hover {
  color: var(--primary);
}

/*SPECIAL TEXT FORMATS*/
blockquote {
  border-radius: 4px;
  background-color: #eee;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

code {
  font-size: 20px;
  font-family: var(--code);
  max-width: 100%;
}

table, th, td {
  border: solid 3px var(--primary);
  border-collapse: collapse;
  font-family: var(--subtitle);
  max-width: 100%;
  margin: 15px auto;
}

th, td {
  padding: 5px;
}

tr:nth-child(even) {
  background-color: white;
}

label {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  margin-top: 8px;
}

audio {
  margin: 15px;
}

/*HEADER STUFF*/
.logo {
  width: 93px;
  vertical-align: middle;
}

.logo_absolute {
  display: none;
}

header {
  height: var(--header-height);
  background-color: var(--header_light);
}

header a:hover {
  color: var(--primary);
  text-decoration: underline;
}

.active-page {
  color: var(--primary);
  text-decoration: underline;
}

.navbar {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.nav-menu {
  display: flex;
  gap: 1rem;
  align-items: center;
  height: var(--header-height);
  z-index: 2;
}

#topRightWrapper {
  display: flex;
  gap: 32px;
}

.nav-link {
  color: var(--typeface);
  text-decoration: none;
  font-family: var(--title-font);
  font-size: 1.1rem;
  transition: 0.2s ease;
}

.nav-link:hover {
  color: var(--primary);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}

#eye {
  max-width: 35px;
  height: auto;
  cursor: pointer;
  z-index: 5;
}

#loupe {
  max-width: 30px;
  height: auto;
  cursor: pointer;
  z-index: 6;
}

#searchbar {
  padding-top: 15px;
  padding-bottom: 15px;
  box-sizing: border-box;
  width: 80%;
  z-index: 5;
  position: absolute;
  top: var(--header-height);
  border: none;
  color: var(--typeface);
  font-size: 1rem;
  display: none;
  border-radius: 0 0 5px 5px;
  background-color: var(--white_black);
  text-indent: 5px;
  padding-left: 10px;
}

#searchbar:focus {
  outline: none;
  border: none;
}

#searchresults {
  position: absolute;
  top: calc(var(--header-height) + 53px);
  width: 80%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 2;
  color: var(--typeface);
  border-radius: 0 0 5px 5px;
}

.result {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  font: var(--subtitle);
  text-transform: none;
  color: var(--typeface);
  background-color: var(--white_black);
  text-decoration: none;
  border-bottom: 1px dashed #bfbebe;
}

/* LORE CATEGORY TILE*/
.tile-nav {
  padding: 10px;
}

.category-tile {
  padding-bottom: 5px;
  margin: 10px;
  transition: ease 0.3s;
  text-align: center;
  border-radius: 5px;
  border: solid 2px var(--white_black);
}
.category-tile h3 {
  animation: color-change 10s infinite;
}
.category-tile a {
  text-decoration: none;
}
.category-tile p {
  margin: 5px;
}

.category-tile:hover {
  transform: scale(1.02);
}

.tile-logo {
  width: 100%;
  max-width: 100%;
  height: 200px;
}

.pc-image {
  width: 100%;
  max-width: 90%;
  height: auto;
}

@keyframes color-change {
  0% {
    color: var(--secondary);
  }
  50% {
    color: var(--typeface);
  }
  100% {
    color: var(--secondary);
  }
}
/*ARTICLE TILE STYLES*/
.article-tile {
  padding: 40px;
  margin: 15px auto;
  line-height: 28px;
  max-width: 1000px;
  background-color: var(--article_background);
  box-shadow: 0 0 30px 5px rgb(211, 211, 211);
  border-radius: 10px;
}
.article-tile h1 {
  margin-bottom: 50px;
  line-height: 60px;
}
.article-tile h2 {
  text-align: left;
  font-size: 34px;
  margin-top: 30px;
}
.article-tile h3 {
  text-align: left;
  font-family: var(--subtitle);
  font-size: 26px;
  margin-top: 20px;
}
.article-tile h4 {
  font-size: 22px;
  font-family: var(--subtitle);
  margin-top: 20px;
}
.article-tile h5 {
  font-size: 20px;
}
.article-tile h6 {
  font-size: 18px;
}
.article-tile p {
  text-indent: 40px;
  margin-top: 25px;
  font-size: 18px;
}
.article-tile ul {
  list-style-image: url(../media/rightchevron.svg);
  font-family: var(--subtitle);
  font-size: 18px;
}
.article-tile ol {
  list-style-type: upper-roman;
  font-family: var(--subtitle);
  font-size: 18px;
}
.article-tile li {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  color: var(--typeface);
}
.article-tile img {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

hr {
  border-top: 2px solid var(--primary);
  margin-bottom: 30px;
}

/*SIDE NAVIGATION*/
.sidenav {
  display: none;
}

/*BUTTON STYLING*/
button {
  width: 150px;
  height: auto;
  padding: 15px;
  border-radius: 5px;
  border: none;
  margin: 5px auto;
  transition: ease 0.2s;
  text-align: center;
  cursor: pointer;
  background-color: var(--primary);
}
button a {
  color: white;
  text-decoration: none;
  font-family: var(--subtitle);
  font-size: 18px;
}

button:hover {
  transform: scale(1.02);
}

.writerButtonsWrapper {
  display: none;
  position: fixed;
  top: 150px;
  right: 100px;
  flex-direction: column;
  z-index: 2;
}

/*ARTICLE CARDS*/
.article-cards {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card {
  margin: 10px 5vw;
  text-decoration: none;
  transition: ease 0.2s;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 3px;
  background-color: var(--article_background);
  border: 2px solid var(--white_black);
}
.card .header {
  margin-top: 0.5rem;
  font-family: var(--title-font);
  font-size: 25px;
  text-align: center;
}
.card .body {
  margin: 10px;
  font-size: 14px;
  color: var(--typeface);
}

.card:hover {
  transform: scale(1.02);
}

/*STATBLOCKS*/
.statblock {
  width: 100%;
  height: auto;
}

/*BREADCRUMBS */
.breadcrumb {
  display: none;
}

/*CAROUSEL*/
.carousel {
  position: relative;
  height: 60vh;
  width: 90%;
  max-width: 1500px;
  margin: 0 auto 40px;
}

.carousel_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel_track {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  transition: transform 400ms ease-in-out;
}

.carousel_track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel_slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel_button--left {
  left: -5%;
}

.carousel_button--right {
  right: -5%;
}

.carousel_button img {
  width: 12px;
}

.carousel_nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel_indicator {
  border: 0;
  border-radius: 40%;
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, 0.4);
  margin: 0 12px;
  cursor: pointer;
}

.carousel_indicator.current-slide {
  background: var(--primary);
}

.is-hidden {
  display: none;
}

.carousel h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: var(--subtitle-size);
  font-family: var(--title-font);
  text-align: center;
  color: white;
  transition: ease-in-out 0.3s;
}

.carousel h2:hover {
  text-decoration: underline;
  font-size: 37px;
}

/*MAP*/
iframe {
  height: 70vh;
  width: 90vw;
  max-width: 100%;
  border: solid 5px rgba(0, 0, 0, 0.4);
}

/*CONTACT BOX*/
.contact-box a:visited {
  color: var(--secondary);
}

.contact-box a:hover {
  color: var(--primary);
}

.contact-box a:active {
  color: white;
}

/*LOGIN FORM*/
.login h1 {
  text-align: center;
  color: var(--primary);
  padding: 1rem;
  border-bottom: 1px solid #dee0e4;
}

.login form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.login form label {
  padding: 0.6rem;
  height: 50px;
  width: 50px;
  color: var(--primary);
}

.login form input[type=password], .login form input[type=text] {
  width: 200px;
  height: 50px;
  border: 1px solid #d0d2d8;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 0 15px;
}

.login form input[type=submit] {
  width: 70%;
  padding: 15px;
  border-radius: 10px;
  margin: 20px auto 0;
  background-color: var(--primary);
  border: 0;
  cursor: pointer;
  color: #ffffff;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.login form input[type=submit]:hover {
  background-color: var(--secondary);
  transition: background-color 0.2s;
}

/*CREATE ARTICLE STUFF*/
br {
  height: 8px;
}

.metadataInputWrapper {
  display: flex;
  flex-direction: column;
}
.metadataInputWrapper input {
  display: flex;
  height: 38px;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #D0D0D0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  font-size: 18px;
  line-height: 150%;
}
.metadataInputWrapper input:focus {
  outline: none;
  border: 2px solid var(--primary);
}

.metadataDropdownWrapper {
  display: flex;
  gap: 16px;
}
.metadataDropdownWrapper select {
  width: 200px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #E0E0E0;
  font-size: 18px;
  line-height: 150%;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
.metadataDropdownWrapper select:focus {
  outline: none;
  border: 2px solid var(--primary);
}

textarea {
  margin-bottom: 8px;
}

.metadataDropdownSubWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

form button {
  margin-top: 16px;
  width: 200px;
  padding: 18px 24px;
  border-radius: 8px;
  color: white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  font: inherit;
}

.asterisk {
  color: var(--warn);
  font-size: 24px;
}

.warningMessage {
  color: var(--warn);
  margin-bottom: 8px;
  font-weight: 400;
}

/*FOOTER STUFF*/
.fa {
  padding: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  transition: ease 0.2s;
  color: white;
}

.fa:hover {
  color: var(--primary);
}

footer {
  background-color: var(--footer_light);
  color: white;
  padding: 10px;
  margin-top: 10px;
}

.footer-grid {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  text-align: center;
}

.footer-section p {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-size: 12px;
  text-align: left;
}

.footer-section h3 {
  color: #fff;
  font-size: 25px;
  margin-bottom: 15px;
}

.bottomlinks {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 0.5rem;
  font-size: 15px;
  text-align: left;
  padding-left: 5px;
}

.bottomlinks:hover {
  text-decoration: underline;
  color: var(--primary);
}

#welcome {
  margin-top: 50px;
}

.warning {
  color: var(--warn);
}

@media (min-width: 500px) {
  .footer-grid {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .button-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 750px) {
  .tile-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .login form input[type=password], .login form input[type=text] {
    width: 400px;
  }
  .article-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
  }
  .card {
    margin: 10px;
  }
  ul.breadcrumb {
    display: block;
    padding: 10px 16px;
    list-style: none;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/ ";
  }
  ul.breadcrumb li a {
    color: var(--primary);
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: var(--secondary);
    text-decoration: underline;
  }
  .hamburger {
    display: none;
    cursor: pointer;
  }
}
@media (min-width: 1020px) {
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
  }
  .tile-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .article-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
  }
  ul.breadcrumb {
    margin-left: calc(45vw - 450px);
  }
}
@media (max-width: 900px) {
  #eye {
    display: none;
  }
  #loupe {
    display: none;
  }
}
@media (max-width: 900px) {
  .hamburger {
    display: block;
    position: absolute;
    right: 50px;
    top: 50px;
  }
  .bar {
    background-color: var(--primary);
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: var(--header-height);
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background-color: var(--header_light);
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    right: 0;
    height: auto;
  }
  header a {
    font-size: 20px;
  }
  .logo {
    display: none;
  }
  .logo_absolute {
    display: inline;
    position: absolute;
    top: 8px;
    width: 100px;
    margin: 0 auto;
  }
}
@media (min-width: 1420px) {
  .sidenav {
    display: block;
    height: auto;
    width: 190px;
    position: fixed;
    z-index: 2; /* Stay on top */
    top: 140px; /* Stay at the top */
    left: 30px;
    overflow: hidden;
    padding: 15px;
  }
  .sidenav ol {
    margin-left: 20px;
    text-align: left;
    font-size: 17px;
    line-height: 18px;
  }
  .sidenav a {
    text-decoration: none;
    font-size: 17px;
    color: var(--primary);
  }
  .sidenav a:hover {
    color: var(--secondary);
  }
  header a {
    font-size: 1.1rem;
  }
  .nav-menu {
    gap: 3vw;
  }
  .article-cards {
    display: grid;
    grid-template-columns: 32% 32% 32%;
  }
  .card {
    margin: 10px;
  }
  .writerButtonsWrapper {
    display: flex;
  }
}

/*# sourceMappingURL=styleguide.css.map */
