@charset "UTF-8";
/* --------------------CSS RESET-----------------------------*/
html, body, span, applet, address, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

:root {
  /* LIGHT MODE */
  --background_light: #fbf5ed;
  --footer_light: #323032;
  --header_light: #fbf5ed;
  --typeface: #191819;
  --white_black: #fffdfb;
  --white_black_hover: #efefef;
  --article_background: #fffdfb;
  /* BRAND COLORS */
  --primary: #642da3;
  --secondary: #b68fd4;
  /* STATUS COLORS */
  --excerpt: rgba(97, 95, 95, 0.7);
  --inform: #7b7bec;
  --warn: #ea7676;
  /* FONTS */
  --title-font: "Lora";
  --subtitle: "Inter", serif;
  --code: "DM Mono", monospace;
  /* SPACING */
  --header-height: 80px;
  /* BOX-SHADOWS */
  --box_shadow_l: 0 4px 2px rgba(0, 0, 0, 0.2);
  --box_shadow_m: 1px 2px 2px rgba(0, 0, 0, 0.2);
  --box_shadow_s: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

/* DARK MODE */
.darkMode {
  --background_light: #373634;
  --header_light: #272726;
  --footer_light: #292729;
  --typeface: #e9e9e6;
  --article_background: rgba(44, 43, 43, 0.77);
  --white_black: #272726;
  --white_black_hover: #333332;
  --excerpt: rgba(181, 179, 179, 0.7);
}

/*-------------------LAYOUT-------------------*/
html {
  background-color: var(--background_light);
  scroll-behavior: smooth;
  font-family: var(--subtitle);
  line-height: 1.6rem;
  font-size: 16px;
  color: var(--typeface);
}

main {
  max-width: 100%;
  flex: 1;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  max-width: 100%;
}

/*--------------TYPOGRAPHY-------------*/
h1, h2, h3 {
  text-align: center;
  font-family: var(--title-font);
}

h1 {
  font-size: 2rem;
  margin: 2rem 0 1rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

input {
  font-size: 1rem;
}

/*LINKS*/
a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--typeface);
  transition: color 0.2s ease;
}

a:hover {
  color: var(--secondary);
}

/*SPECIAL TEXT FORMATS*/
blockquote {
  border-radius: 4px;
  background-color: #eee;
  margin: 20px 0 20px;
  padding: 8px;
}

code {
  font-family: var(--code);
}

audio {
  max-width: 100%;
}

form select, form input {
  border: 1px solid #D0D0D0;
  box-shadow: var(--box_shadow_s);
  font-size: 1rem;
  padding: 8px;
  border-radius: 4px;
}
form label {
  margin-top: 10px;
}

/*------------------------HEADER STUFF-------------------------*/
.logo_absolute {
  display: inline;
  position: absolute;
  top: calc(var(--header-height) / 2);
  transform: translateY(-50%);
  width: 80px;
  margin: 0 auto;
}

.hamburger {
  z-index: 3;
  display: block;
  position: absolute;
  right: 20px;
  top: calc(var(--header-height) / 2);
  transform: translateY(-50%);
}

.bar {
  background-color: var(--primary);
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

header {
  height: var(--header-height);
  background-color: var(--header_light);
  box-shadow: var(--box_shadow_m);
}

.active-page {
  color: var(--primary);
  text-decoration: underline;
}

.navbar {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.nav-menu {
  z-index: 2;
  position: fixed;
  right: -100%;
  top: 0;
  width: 100%;
  text-align: center;
  transition: 0.3s;
  background-color: var(--header_light);
}

.nav-item {
  margin: 16px 0;
}

.nav-menu.active {
  right: 0;
  height: auto;
  box-shadow: var(--box_shadow_l);
}

#topRightWrapper {
  display: flex;
  gap: 32px;
}

.nav-link {
  font-family: var(--title-font);
  font-size: 1.2rem;
}

#eye {
  max-width: 35px;
  height: auto;
  cursor: pointer;
  z-index: 5;
  display: none;
}

.loupeMobile, #loupe {
  max-width: 30px;
  height: auto;
  cursor: pointer;
  z-index: 6;
  display: none;
}

#searchbar {
  padding: 12px 0 12px 8px;
  box-sizing: border-box;
  width: 100vw;
  z-index: 5;
  position: absolute;
  top: var(--header-height);
  color: var(--typeface);
  display: none;
  background-color: var(--white_black);
  text-indent: 4px;
  border-radius: 2px;
}

#searchbar:focus {
  outline: 2px solid rgba(93, 48, 142, 0.73);
  outline-offset: -2px;
}

#searchResults {
  display: none;
  position: absolute;
  top: calc(var(--header-height) + 43px);
  width: calc(100% - 2px);
  flex-direction: column;
  z-index: 2;
  background-color: var(--white_black);
  box-shadow: var(--box_shadow_l);
}

.result {
  padding: 4px;
  text-indent: 12px;
}

.result:hover {
  background-color: #d3d2d2;
}

#searchResultsInline {
  z-index: 100;
  display: none;
  flex-direction: column;
  width: 200px;
  position: fixed;
  left: 70%;
  top: 30%;
  background: white;
  border: 1px solid #ccc;
  box-shadow: var(--box_shadow_s);
  border-radius: 8px;
  padding: 4px;
}
#searchResultsInline a:hover {
  background-color: gray;
}

.allArticles {
  display: grid;
  gap: 8px;
  margin: 2vw 2vw 2rem 2vw;
}

.foundArticlesWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.resultCount {
  opacity: 0.9;
}

.resultCard {
  transition: 0.2s ease;
  background-color: var(--white_black);
  padding: 8px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box_shadow_m);
}
.resultCard a {
  width: 100%;
}
.resultCard button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 4px;
}
.resultCard button img {
  width: 16px;
  height: 16px;
}
.resultCard span {
  display: flex;
  gap: 10px;
}

.resultCard:hover {
  background-color: var(--white_black_hover);
}

#filterForm {
  display: flex;
  flex-direction: column;
  margin: 8px 8px 1.5rem 8px;
}

/* LORE CATEGORY TILE*/
.category-tile {
  padding-bottom: 4px;
  margin: 8px;
  transition: ease 0.2s;
  text-align: center;
  border-radius: 2px;
  box-shadow: var(--box_shadow_s);
}
.category-tile h3 {
  animation: color-change 10s infinite;
}
.category-tile p {
  margin: 4px;
}

.category-tile:hover {
  transform: scale(1.02);
}

.tile-logo {
  width: 120px;
  max-width: 100%;
  max-height: 120px;
}

.pc-image {
  width: 100%;
  max-width: 90%;
  height: auto;
}

@keyframes color-change {
  0% {
    color: var(--secondary);
  }
  50% {
    color: var(--typeface);
  }
  100% {
    color: var(--secondary);
  }
}
/*ARTICLE TILE STYLES*/
.article-tile {
  background-color: var(--article_background);
  box-sizing: border-box;
  padding: 8px;
  border-radius: 8px;
  box-shadow: var(--box_shadow_m);
  margin-top: 24px;
}
.article-tile hr {
  max-width: 100%;
}
.article-tile a {
  color: var(--primary);
  font-weight: 500;
}
.article-tile a:hover {
  color: var(--secondary);
}
.article-tile h1 {
  margin: 24px 0 2rem;
}
.article-tile h2 {
  margin-top: 24px;
  text-align: left;
}
.article-tile h3 {
  text-decoration: underline;
  text-align: left;
  margin: 22px 0 8px;
}
.article-tile h4 {
  font-weight: 600;
  font-size: 1.2rem;
  margin: 20px 0 4px;
}
.article-tile h5 {
  font-size: 1.1rem;
  margin: 14px 0 4px;
}
.article-tile p {
  text-indent: 2rem;
  margin: 1rem 0 1rem;
}
.article-tile ul {
  padding-left: 2rem;
  list-style-image: url(../media/images/rightchevron.svg);
}
.article-tile ol {
  padding-left: 2rem;
  list-style-type: upper-roman;
}
.article-tile li {
  text-indent: 4px;
}
.article-tile img {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

hr {
  border: 1px solid var(--secondary);
  max-width: 80vw;
  margin: 0 auto 1rem;
}

/*----------------SIDE NAVIGATION---------------*/
.sideBar {
  z-index: 100;
  background-color: #373634;
  color: white;
  width: 180px;
  transition: 0.5s ease;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  padding: 4px;
}
.sideBar a, .sideBar h3 {
  color: white;
}
.sideBar h3 {
  font-size: 18px;
}
.sideBar a {
  font-size: 18px;
}
.sideBar .chevronWrapper {
  display: flex;
  justify-content: end;
}
.sideBar #chevron {
  margin: 16px;
  width: 20px;
  transition: transform 0.5s;
  padding: 4px;
}
.sideBar #chevron.rotated {
  transform: rotate(180deg);
}
.sideBar .sideBarIcon {
  width: 40px;
}
.sideBar .swordIcon {
  max-width: 100%;
}
.sideBar ul {
  margin: 0;
}
.sideBar ul li {
  padding: 4px;
  margin-bottom: 4px;
  border: 2px solid #2e2e2e;
  border-radius: 4px;
}
.sideBar ul li a {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
}
.sideBar ul li:hover {
  background-color: #51504d;
}

.sideBar.closed {
  width: 0;
  left: -100px;
}
.sideBar.closed .sideBarLabel {
  display: none;
}

#openSideNavMobileButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 44px;
  right: 12px;
  border-radius: 8px;
  box-shadow: var(--box_shadow_m);
}
#openSideNavMobileButton img {
  width: 42px;
  z-index: 2;
}

/*BUTTON STYLING*/
button {
  border: none;
  transition: ease 0.2s;
  text-align: center;
  cursor: pointer;
  background-color: var(--primary);
}
button a {
  color: white;
}

button:hover {
  transform: scale(1.02);
}

.homePreview {
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-width: 1000px;
  padding: 4px;
  box-sizing: border-box;
}

.itemPreview {
  background-color: var(--white_black);
  border-radius: 8px;
  box-shadow: var(--box_shadow_m);
  padding: 8px;
}
.itemPreview h2, .itemPreview h3, .itemPreview h4 {
  text-align: left;
}
.itemPreview h2 {
  margin-top: 0.5rem;
  font-size: 18px;
}
.itemPreview h3 {
  font-size: 16px;
}
.itemPreview a {
  font-size: 14px;
  font-weight: 500;
  color: var(--primary);
}
.itemPreview a:hover {
  color: var(--secondary);
}
.itemPreview hr {
  margin: 0 0 4px;
}
.itemPreview p {
  text-indent: 8px;
  font-size: 14px;
}
.itemPreview .headerPreview {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  font-family: var(--title-font);
  margin-bottom: 16px;
}
.itemPreview .contentPreview {
  max-width: 100%;
}
.itemPreview .headerPreview:hover {
  color: var(--secondary);
}
.itemPreview .excerptInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  color: var(--excerpt);
  border-radius: 4px;
  padding: 4px;
}

#loadingSpinner {
  display: flex;
  justify-content: center;
}
#loadingSpinner img {
  animation: spin 2s infinite cubic-bezier(0.14, 0.68, 1, 0.5);
  width: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#plus {
  color: white;
  padding: 12px;
  border-radius: 4px;
}

#plusWrapper {
  display: flex;
  justify-content: center;
  margin: 2rem 0 2rem;
}

.infoLink {
  padding: 8px;
  border-radius: 4px;
  margin: 4px;
  opacity: 90%;
}

/*-----------------------------VISUALIZER --------------------------*/
/* -------------------------ARTICLE CARDS --------------------------*/
.article-cards {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card {
  margin: 4px 5vw;
  transition: ease 0.2s;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 3px;
  background-color: var(--article_background);
}
.card .header {
  margin-top: 0.5rem;
  font-family: var(--title-font);
  font-size: 20px;
  text-align: center;
}
.card .body {
  margin: 10px;
  font-size: 13px;
  color: var(--typeface);
}
.card a {
  text-decoration: none;
}

.editorButtonsWrapper {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.editorButtons {
  border-radius: 4px;
  width: 42px;
  height: 42px;
  padding: 4px;
}
.editorButtons img {
  width: 26px;
  height: 26px;
}

.card:hover {
  transform: scale(1.02);
}

/*STATBLOCKS*/
.statblock {
  width: 100%;
  height: auto;
}

/*BREADCRUMBS */
.breadcrumb {
  display: none;
}

/*MAP*/
.mapWrapper {
  display: flex;
  justify-content: center;
}

#map {
  height: 60vh;
  width: 95vw;
  max-width: 100%;
  z-index: 1;
}

/*CONTACT BOX*/
.contact-box a:visited {
  color: var(--secondary);
}

.contact-box a:hover {
  color: var(--primary);
}

.contact-box a:active {
  color: white;
}

/*LOGIN FORM*/
.auth {
  margin: 20px auto;
  padding: 16px;
  border-radius: 4px;
  max-width: 800px;
}
.auth h1 {
  margin: 12px;
}
.auth input {
  height: 25px;
  border: none;
  border-radius: 4px;
  padding: 4px;
}
.auth form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth .formElement {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  width: 80%;
}
.auth input[type=submit] {
  margin-top: 12px;
  padding: 4px;
  width: 100px;
  height: 40px;
  cursor: pointer;
  color: white;
  background-color: var(--primary);
}

#registerText {
  margin-top: 8px;
  text-align: center;
}
#registerText a {
  color: var(--secondary);
}

/*------------------ARTICLE EDITORS-----------------*/
br {
  height: 8px;
}

.articleEditingForm {
  margin: 8px;
}

.metadataInputWrapper {
  display: flex;
  flex-direction: column;
}
.metadataInputWrapper input {
  display: flex;
  height: 38px;
  padding: 8px 16px;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #D0D0D0;
  box-shadow: var(--box_shadow_s);
  font-size: 18px;
  line-height: 150%;
}
.metadataInputWrapper input:focus {
  outline: none;
  border: 2px solid var(--primary);
}

#is_draft {
  box-shadow: none;
}

.saveArticleButton {
  font-size: 1.1rem;
  color: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: var(--box_shadow_s);
}

.articleEditingButtonsWrapper {
  margin: 1rem 0 1rem;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.metadataDropdownWrapper {
  display: flex;
  gap: 8px;
}
.metadataDropdownWrapper select {
  width: 180px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #E0E0E0;
  font-size: 18px;
  line-height: 150%;
  box-shadow: var(--box_shadow_s);
}
.metadataDropdownWrapper select:focus {
  outline: none;
  border: 2px solid var(--primary);
}

textarea {
  margin-bottom: 8px;
}

.metadataDropdownSubWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.asterisk {
  color: var(--warn);
  font-size: 24px;
}

.warningMessage {
  color: var(--warn);
  margin-bottom: 8px;
  font-weight: 400;
}

.ql-snow {
  width: 100%;
  height: 300px;
}

/*FOOTER STUFF*/
.fa {
  padding: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  transition: ease 0.2s;
  color: white;
}

.fa:hover {
  color: var(--primary);
}

footer {
  background-color: var(--footer_light);
  color: white;
  padding: 10px;
}

.footer-grid {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  text-align: center;
}

.footer-section p {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-size: 12px;
  text-align: left;
}

.footer-section h3 {
  color: #fff;
  font-size: 25px;
  margin-bottom: 15px;
  margin-top: 8px;
}

.bottomlinks {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 0.5rem;
  font-size: 15px;
  text-align: left;
  padding-left: 5px;
}

.bottomlinks:hover {
  text-decoration: underline;
  color: var(--primary);
}

.warning {
  color: var(--warn);
}

/* <--------------------- MEDIA QUERIES --------------------> */
@media (min-width: 500px) {
  .footer-grid {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  main {
    width: 100%;
    max-width: 95vw;
    margin: 4px auto;
  }
}
@media (min-width: 750px) {
  .tile-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    margin: 8px;
  }
  ul.breadcrumb {
    display: block;
    padding: 10px 16px;
    list-style: none;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/ ";
  }
  ul.breadcrumb li a {
    color: var(--primary);
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: var(--secondary);
    text-decoration: underline;
  }
  .hamburger {
    display: none;
  }
  #eye, #loupe {
    display: inline;
  }
  .nav-menu {
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content: center;
    height: var(--header-height);
    position: inherit;
  }
  #topRightWrapper {
    z-index: 2;
    position: absolute;
    top: calc(var(--header-height) / 2);
    transform: translateY(-50%);
    right: 12px;
  }
  .sideBar.closed {
    width: 50px;
    left: 0;
  }
  #wrapper, footer {
    margin-left: 54px;
  }
  #openSideNavMobileButton {
    display: none;
  }
  main {
    max-width: min(85vw, 1200px);
  }
  header {
    padding: 0 12px 0 12px;
  }
  .foundArticlesWrapper {
    gap: 8px;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .article-tile {
    padding: 18px;
  }
  #searchbar, #searchResults {
    left: 58px;
    width: calc(100% - 58px);
  }
}
@media (min-width: 1020px) {
  .itemPreview, .article-tile {
    padding: 28px;
    max-width: 1100px;
  }
  .homePreview, .article-tile {
    margin: 0 auto;
  }
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
  }
  .tile-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  ul.breadcrumb {
    margin-left: calc(45vw - 450px);
  }
  .article-tile {
    line-height: 1.8rem;
  }
  .nav-menu {
    gap: 32px;
  }
}
@media (min-width: 1420px) {
  header a {
    font-size: 1.1rem;
  }
  .card {
    margin: 10px;
  }
  .writerButtonsWrapper {
    display: flex;
  }
}

/*# sourceMappingURL=styleguide.css.map */
