/* --------------------CSS RESET-----------------------------*/
html, body, span, applet, address, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
}

:root {
  /* LIGHT MODE */
  --background_light: #fbf5ed;
  --footer_light: #323032;
  --header_light: #fbf5ed;
  --typeface: #191819;
  --white_black: #fffdfb;
  --article_background: #fffdfb;
  --box_shadow: 0 0 30px 5px rgba(198, 198, 198, 1);

  /* BRAND COLORS */
  --primary: #642da3;
  --secondary: #b68fd4;

  /* STATUS COLORS */
  --inform: #7b7bec;
  --warn: #ea7676;

  /* FONTS */
  --title-font: 'Lora';
  --subtitle: 'Inter', serif;
  --code: 'DM Mono', monospace;

  /* SPACING */
  --header-height: 80px;
}

/* DARK MODE */
.darkMode {
  --background_light: #373634;
  --header_light: #272726;
  --footer_light: #292729;
  --typeface: #e9e9e6;
  --article_background: rgba(80, 78, 78, 0.77);
  --white_black: #272726;
  --box_shadow: 2px 2px 6px 1px rgba(23, 23, 23, 1);
}

/*-------------------LAYOUT-------------------*/
html {
  background-color: var(--background_light);
  scroll-behavior: smooth;
  font-family: var(--subtitle);
  line-height: 1.6rem;
  font-size: 16px;
  color: var(--typeface);
}

main {
  max-width: 100%;
  flex: 1;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  max-width: 100%;
}

/*--------------TYPOGRAPHY-------------*/
h1, h2, h3 {
  text-align: center;
  font-family: var(--title-font);
}

h1 {
  font-size: 2rem;
  padding: 12px 0 12px;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

input {
  font-size: 1rem;
}

/*LINKS*/

a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--typeface);
  transition: color 0.2s ease;
}

a:hover {
  color: var(--secondary);
}


/*SPECIAL TEXT FORMATS*/
blockquote {
  border-radius: 4px;
  background-color: #eee;
  margin: 20px 0 20px;
  padding: 8px;
}

code {
  font-family: var(--code);
}

audio {
  max-width: 100%;
}

/*------------------------HEADER STUFF------------------------------*/
//.logo {
//  width: 93px;
//  vertical-align: middle;
//  padding: 4px;
//}
//LOGO
.logo_absolute {
  display: inline;
  position: absolute;
  top: calc(var(--header-height) / 2);
  transform: translateY(-50%);
  width: 80px;
  margin: 0 auto;
}

// HAMBURGER
.hamburger {
  z-index: 3;
  display: block;
  position: absolute;
  right: 20px;
  top: calc(var(--header-height) / 2);
  transform: translateY(-50%);
}

.bar {
  background-color: var(--primary);
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

header {
  height: var(--header-height);
  background-color: var(--header_light);
  box-shadow: 0 0 14px 2px #e6e3e3;
}

.active-page {
  color: var(--primary);
  text-decoration: underline;
}

//TODO: come back to this when doing tablet/ computer width
.navbar {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.nav-menu {
  z-index: 2;
  position: fixed;
  right: -100%;
  top: 0;
  width: 100%;
  text-align: center;
  transition: 0.3s;
  background-color: var(--header_light);
}

.nav-item {
  margin: 16px 0;
}

.nav-menu.active {
  right: 0;
  height: auto;
  box-shadow: 0 0 14px 2px #e6e3e3;
}

#topRightWrapper {
  display: flex;
  gap: 32px;
}

.nav-link {
  font-family: var(--title-font);
  font-size: 1.2rem;
}

#eye {
  max-width: 35px;
  height: auto;
  cursor: pointer;
  z-index: 5;
}

.loupeMobile, #loupe {
  max-width: 30px;
  height: auto;
  cursor: pointer;
  z-index: 6;
}

// --------------- SEARCHBAR ------------ //
#searchbar {
  padding: 12px 0 12px 8px;
  box-sizing: border-box;
  width: 100%;
  z-index: 5;
  position: absolute;
  top: var(--header-height);
  color: var(--typeface);
  display: none;
  background-color: var(--white_black);
  text-indent: 4px;
  border-radius: 2px;
}

#searchbar:focus {
  outline: 2px solid rgba(93, 48, 142, 0.73);
  outline-offset: -2px;
}

#searchResults {
  display: none;
  position: absolute;
  top: calc(var(--header-height) + 43px);
  width: calc(100% - 2px);
  flex-direction: column;
  z-index: 2;
  background-color: var(--white_black);
  box-shadow: var(--box_shadow);
}

.result {
  padding: 4px;
  text-indent: 12px;
}

.result:hover {
  background-color: #d3d2d2;
}

//TODO: come back to this too

#searchResultsInline {
  z-index: 100;
  display: none;
  position: fixed;
  left: 70%;
  top: 30%;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 4px;

  a:hover {
    background-color: gray;
  }
}

// --------------------------------ALL ARTICLES -----------------------------
.allArticles {
  display: grid;
  gap: 8px;
  margin: 2vw;
}

.resultCard {
  background-color: var(--header_light);
  padding: 8px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 2px 1px #bcbcbc;

  button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
  }

  button img {
    width: 16px;
    height: 16px;
  }

  span {
    display: flex;
    gap: 10px;
  }
}

.resultCard:hover {
  background-color: #c6c5c5;
}


/* LORE CATEGORY TILE*/
.category-tile {
  padding-bottom: 4px;
  margin: 8px;
  transition: ease 0.2s;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0 2px 2px 1px #bcbcbc;

  h3 {
    animation: color-change 10s infinite;
  }

  p {
    margin: 4px;
  }
}

.category-tile:hover {
  transform: scale(1.02);
}

.tile-logo {
  width: 120px;
  max-width: 100%;
  max-height: 120px;
}

.pc-image {
  width: 100%;
  max-width: 90%;
  height: auto;
}

//COLOR CHANGE ANIMATION
@keyframes color-change {
  0% {
    color: var(--secondary);
  }
  50% {
    color: var(--typeface)
  }
  100% {
    color: var(--secondary);
  }
}

/*ARTICLE TILE STYLES*/
.article-tile {
  background-color: var(--article_background);
  box-sizing: border-box;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 24px;

  a {
    color: var(--primary);
    font-weight: 500;
  }

  a:hover {
    color: var(--secondary);
  }

  h1 {
    margin: 24px 0 8px;
  }

  h2 {
    margin-top: 24px;
    text-align: left;
  }

  h3 {
    text-decoration: underline;
    text-align: left;
    margin: 22px 0 8px;
  }

  h4 {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 20px 0 4px;
  }

  h5 {
    font-size: 1.1rem;
    margin: 14px 0 4px;
  }

  p {
    text-indent: 2rem;
  }

  ul {
    padding-left: 2rem;
    list-style-image: url(../media/images/rightchevron.svg);
  }

  ol {
    padding-left: 2rem;
    list-style-type: upper-roman;
  }

  li {
    text-indent: 4px;
  }

  img {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}

hr {
  margin: 4px 0 1rem;
  border-top: 2px solid var(--primary);
}

/*----------------SIDE NAVIGATION---------------*/
.sideBar {
  z-index: 100;
  background-color: #373634;
  color: white;
  width: 180px;
  transition: 0.5s ease;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  padding: 4px;

  a, h3 {
    color: white;

  }

  h3 {
    font-size: 18px;
  }

  a {
    font-size: 18px;
  }

  .chevronWrapper {
    display: flex;
    justify-content: end;
  }

  #chevron {
    margin: 16px;
    width: 20px;
    transition: transform 0.5s;
    padding: 4px;
  }

  #chevron.rotated {
    transform: rotate(180deg);
  }

  .sideBarIcon {
    width: 40px;
  }

  .swordIcon {
    max-width: 100%;
  }

  ul {
    margin: 0;

    li {
      padding: 4px;
      margin-bottom: 4px;
      border: 2px solid #2e2e2e;
      border-radius: 4px;

      a {
        display: flex;
        align-items: center;
        gap: 4px;
        width: 100%;
      }
    }

    li:hover {
      background-color: #51504d;
    }
  }
}

.sideBar.closed {
  .sideBarLabel {
    display: none;
  }

  width: 0;
  left: -100px;
}

#openSideNavMobileButton {
  img {
    width: 42px;
    z-index: 2;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 44px;
  right: 12px;
  border-radius: 8px;
}

/*BUTTON STYLING*/
button {
  border: none;
  transition: ease 0.2s;
  text-align: center;
  cursor: pointer;
  background-color: var(--primary);

  a {
    color: white;
  }
}

button:hover {
  transform: scale(1.02);
}


// -----------------------------------HOME PREVIEW -----------------------------------
.homePreview {
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-width: 1000px;
  padding: 4px;
  box-sizing: border-box;
}

.itemPreview {
  background-color: var(--white_black);
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 8px;

  h2, h3, h4 {
    text-align: left;
  }

  h2 {
    margin-top: .5rem;
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  a {
    font-size: 14px;
    font-weight: 500;
    color: var(--primary);
  }
  hr{
    margin: 0;
  }

  p {
    font-size: 14px;
  }

  .headerPreview {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    font-family: var(--title-font);
    margin-bottom: 16px;

    a:hover {
      color: var(--secondary);
    }
  }

  .contentPreview {
    max-width: 100%;
  }

  .headerPreview:hover {
    color: var(--primary);
  }

  .excerptInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    color: rgba(80, 80, 80, 0.8);
    border-radius: 4px;
    padding: 4px;
  }
}

#loadingSpinner {
  display: flex;
  justify-content: center;

  img {
    animation: spin 2s infinite cubic-bezier(.14, .68, 1, .5);
    width: 20px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#plus {
  color: white;
  padding: 12px;
  border-radius: 4px;
}

#plusWrapper {
  display: flex;
  justify-content: center;
  margin: 2rem 0 2rem;
}

.infoLink {
  margin: 4px;
  opacity: 90%;

  a {
    color: var(--inform);
  }
}

.asideHomeInfo {
}

/*-----------------------------VISUALIZER --------------------------*/
#visualizer {
}

/* -------------------------ARTICLE CARDS --------------------------*/

.article-cards {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card {
  margin: 4px 5vw;
  transition: ease 0.2s;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 3px;
  background-color: var(--article_background);

  .header {
    margin-top: .5rem;
    font-family: var(--title-font);
    font-size: 20px;
    text-align: center;
  }

  .body {
    margin: 10px;
    font-size: 13px;
    color: var(--typeface);
  }

  a {
    text-decoration: none;
  }
;
}

.editorButtonsWrapper {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.editorButtons {
  border-radius: 4px;
  width: 42px;
  height: 42px;
  padding: 4px;

  img {
    width: 26px;
    height: 26px;
  }
}

.card:hover {
  transform: scale(1.02);
}

/*STATBLOCKS*/
.statblock {
  width: 100%;
  height: auto;
}

/*BREADCRUMBS */
.breadcrumb {
  display: none;
}

/*MAP*/
.mapWrapper {
  display: flex;
  justify-content: center;
}

#map {
  height: 60vh;
  width: 95vw;
  max-width: 100%;
  z-index: 1;
}

/*CONTACT BOX*/
.contact-box a:visited {
  color: var(--secondary);

}

.contact-box a:hover {
  color: var(--primary)
}

.contact-box a:active {
  color: white;
}

/*LOGIN FORM*/
.auth {
  width: 40vw;
  margin-top: 20px;
  background-color: #373634;
  padding: 16px;
  border-radius: 4px;

  label, h1 {
    color: white;
  }

  h1 {
    margin: 12px;
  }

  input {
    height: 25px;
    border: none;
    border-radius: 4px;
    padding: 4px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .formElement {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    width: 80%;
  }

  input[type=submit] {
    margin-top: 12px;
    padding: 4px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    color: white;
    background-color: var(--primary);
  }
}

#registerText {
  margin-top: 8px;
  color: white;

  a {
    color: var(--secondary);
  }
}

/*CREATE ARTICLE STUFF*/
br {
  height: 8px;
}

.tox .tox-tinymce {
  //TODO: FORMAT THE TINYMCE EDITOR BETTER
}

.metadataInputWrapper {
  display: flex;
  flex-direction: column;

  input {
    display: flex;
    height: 38px;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #D0D0D0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    font-size: 18px;
    line-height: 150%;
  }

  input:focus {
    outline: none;
    border: 2px solid var(--primary);
  }
}

.metadataDropdownWrapper {
  display: flex;
  gap: 16px;

  select {
    width: 200px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    font-size: 18px;
    line-height: 150%;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  }

  select:focus {
    outline: none;
    border: 2px solid var(--primary);
  }
}

textarea {
  margin-bottom: 8px;
}

.metadataDropdownSubWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.asterisk {
  color: var(--warn);
  font-size: 24px;
}

.warningMessage {
  color: var(--warn);
  margin-bottom: 8px;
  font-weight: 400;
}

.ql-snow {
  width: 100%;
  height: 300px;
}

/*FOOTER STUFF*/
.fa {
  padding: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  transition: ease 0.2s;
  color: white;
}

.fa:hover {
  color: var(--primary);
}

footer {
  background-color: var(--footer_light);
  color: white;
  padding: 10px;
}

.footer-grid {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  text-align: center;
}

.footer-section p {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-size: 12px;
  text-align: left;
}

.footer-section h3 {
  color: #fff;
  font-size: 25px;
  margin-bottom: 15px;
  margin-top: 8px;
}

.bottomlinks {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 0.5rem;
  font-size: 15px;
  text-align: left;
  padding-left: 5px;
}

.bottomlinks:hover {
  text-decoration: underline;
  color: var(--primary);
}

//WARNINGS
.warning {
  color: var(--warn);
}

/* <--------------MEDIA QUERIES --------------------> */

@media(min-width: 500px) {
  .footer-grid {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

@media(min-width: 750px) {
  .tile-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    margin: 8px;
  }

  ul.breadcrumb {
    display: block;
    padding: 10px 16px;
    list-style: none;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: var(--primary);
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: var(--secondary);
    text-decoration: underline;
  }
}

@media(min-width: 1020px) {
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 10px;
  }
  .tile-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  ul.breadcrumb {
    margin-left: calc(45vw - 450px);
  }

}

@media(max-width: 900px) {
  #eye {
    display: none;
  }
  #loupe {
    display: none;
  }

}

@media(min-width: 900px) {
  .loupeMobile {
    display: none;
  }
  .hamburger {
    display: none;
  }
}

@media(max-width: 900px) {


}

@media(min-width: 1420px) {
  .sidenav {
    display: none;
    //display: block;
    height: auto;
    width: 190px;
    position: fixed;
    z-index: 2; /* Stay on top */
    top: 140px; /* Stay at the top */
    left: 30px;
    overflow: hidden;
    padding: 15px;

  }
  .sidenav ol {
    margin-left: 20px;
    text-align: left;
    font-size: 17px;

  }
  .sidenav a {
    text-decoration: none;
    font-size: 17px;
    color: var(--primary);
  }
  .sidenav a:hover {
    color: var(--secondary);
  }
  header a {
    font-size: 1.1rem;
  }
  .card {
    margin: 10px;
  }
  .writerButtonsWrapper {
    display: flex;
  }
}